<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zoom-Clone</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/fontawesome.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  </head>
  <script>
    const ROOM_ID = "<%= roomId %>";
  </script>
  <body>
    <div class="main">
      <div class="main__left">
        <div class="main__videos">
          <div id="video-grid"></div>
        </div>
        <div class="main__controls">
                <div onClick="muteUnmute()" class="main__controls__button main__mute__button">
                        <i class="fa fa-microphone"></i>
                        <span>Mute</span>
                </div>
                <div class="main__controls__button">
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                    <span>Stop Video</span>
                </div>
            
            
                <div class="main__controls__button">
                <i class="fa fa-shield" aria-hidden="true"></i>
                <span>Security</span>
                </div>
                <div class="main__controls__button">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>Participants</span>
                </div>
                <div class="main__controls__button ">
                <i class="fa fa-comments"></i>
                <span>Chat</span>
                </div>
          
          <div class="main__controls__block">
            <div class="main__controls__button">
              
              <span class="leave_meeting">Leave Meeting</span>
            </div>
          </div>
        </div>
      </div>
    

      <div class="main__right">
        <div class="main__header">
          <h6>Chat</h6>
        </div>

        <div class="main__chat__window">
            <ul class="messages">

            </ul>
        </div>
        <div class="main__message__container">
            <input type="text" id="chat_message" placeholder="Type a message...">
        </div>
      </div>
    </div>


    <script src="script.js"></script>
  </body>
</html>
